/*===========================================
    CSS INDEX
    =========================================

    1. Common CSS
    2. helper classes
    3. header area css 
    4. header promo area css
    5. about area css
    6. service area css
    7. team area css
    8. portfolio area css
    9. contact area css
    10. footer area css
    11. about page css
    12. service page css
    13. team page css
    14. work page css
    15. contact page css
   
	*/
/*--------------------------
 1. Common css
 ----------------------------*/
*{
	padding:0;
	margin:0;
}
a,a:hover {
  text-decoration:none;
  font-weight: 400;
  color:#546092;
}

html,
body {
  color:#546092;
  line-height:26px;
  font-weight: 400;
  font-size:15px;
 font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 600;
   color: #404040;
}
ul {
  margin:0px;
  padding:0px;
  list-style:none;
}
img {
  max-width:100%;
  height:auto;
}
p{
	color:#404040;
	font-size:15px;
	line-height:30px;
}

/*--------------------------
 2. helper classes 
 ----------------------------*/
.mb-80{
	margin-bottom:80px;
}
.mt-20{
	margin-top:20px;
}
a.border-btn{
	border:1px solid #38d39f;
	padding:15px 50px;
	font-size:15px;
	position:relative;
	background-color:#fff;
	transition:.5s;
	display: inline-block;
}
a.border-btn::before {
	position: absolute;
	content: "";
	border: 1px solid #38d39f;
	left: 6px;
	width: 100%;
	height: 100%;
	bottom: -6px;
	z-index: -1;
}
a.border-btn:hover{
	background-color:#38d39f;
	color:#fff;
}
.main_menu_area {
	background-color: #5D92E2;
	transition: .5s;
}
.header_logo{}
.header_logo a{}
.header_logo a p,.footer_logo a p {
	font-size: 24px;
	padding: 18px 0px;
	color: #fff;
	font-family: 'Charm', cursive;
	font-weight: 700;
}
.navbar {
	padding: 0px;
}
.main_menu{}
.main_menu ul {
	width: 100%;
	text-align:right
}
.main_menu ul li {
	display: inline-block;
}
.main_menu ul li a {
	font-size: 16px;
	text-transform: capitalize;
	padding: 23px 20px;
	color: #fff;
}
.header_icon ul li a {
	padding: 19px 23px;
	font-size: 22px;
	color: #fff;
	background-color: #EA5B40;
}
.header_icon ul li{
	display: inline-block;
}

.main_menu_area.sticky.scroll-header {
	position: fixed;
	background-color: #fff;
	width: 100%;
	z-index: 999;
	box-shadow: 1px 0px 11px #060612cc;
}
.main_menu_area.sticky.scroll-header .header_logo p {
  color: #174873;
}
.main_menu_area.sticky.scroll-header .main_menu ul li a {
	color: #174873;
}
.main_menu_area.sticky.scroll-header .dropdown-menu a.dropdown-item {
	color: #fff;
}
/* End Header Menu Area Css */
/* Start Header Menu Area Css */
.bannder_bg {
	background-image: url(../img/bg_img.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	color: #fff;
}
.bannder_bg::before,
.programmes_bg::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #141316;
	opacity: .6;
}
.banner_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align:center
}
.banner_content h3 {
	text-align: center;
	margin-bottom: 41px;
}
.banner_content span {
	color: #fd5f42e6;
	margin-left: 2px;
}
.banner_content p{}
.banner_content a{}
.banner_content form input {
	padding: 11px;
	font-size: 13px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 2px;
	width: 100%;
	color: #fff;
}
.banner_content .form-group label {
	font-size: 19px;
}
.banner_content .form-group{
	text-align:left
}
#inputState {
	height: 41px;
	font-size: 12px;
	width: 100%;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 12px;
	color: #fff;
}
/* End Header Menu Area Css */
/* Start Features Area Css */
.f_area{}
.single_feature {
	padding: 35px 14px;
	text-align: center;
	border: 1px solid #ddd;
	transition: .5s;
}
.single_feature:hover {
	margin-top: -17px;
}
.single_feature i {
	font-size: 28px;
	color: #5D92E2;
	padding-top: 14px;
	transition: .6s;
}
.single_feature h4 {
	font-size: 20px;
	margin: 24px 0px;
	text-transform: uppercase;
	color: #17344f;
}
.single_feature:hover i {
	padding-top: 0px;
}
.single_feature p {
	line-height: 1.8;
	color: #221f38e6;
}
/* End Features Area Css */
/* Start Body Part Area Css  */
.section_title h2 {
	text-align: center;
	color: #174873;
	font-family: 'Charm', cursive;
	margin-bottom: 0px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #5D92E2;
}
.b_disease_details ol {
	padding: 0px 28px;
}
.b_disease_details {
	padding-top: 22px;
}
.b_disease_details li {
	padding: 7px 11px;
	display: inline-block;
	border: 1px solid #fff;
	margin-right: -2px;
	margin-bottom: 8px;
	cursor: pointer;
}
.b_disease_details li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #fff;
}
.body_content {
	background-image: url(https://media.giphy.com/media/Qzsp4hHXiAAY8/giphy.gif);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	min-height: 400px;
	z-index: 9;
}
.body_content::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: .6;
	z-index: -1;
}
.left_body_part {
	margin-top: 60px;
}
.body_button a {
	background-color: #000;
	margin-bottom: 22px;
	padding: 17px;
	text-align: center;
	font-size: 14px;
	text-transform: capitalize;
	color: #fff;
}
/* End Body Part Area Css  */
/* Start Footer Area Css */
.footer_area {
	background-color: #1B1B1B;
	padding: 62px 0px;
	margin-top: 67px;
}
.footer_logo {
	margin-bottom: 25px;
}
.footer_logo a{}
.footer_logo {
	margin-bottom: 43px;
}
.footer_logo p {
	color: #ccc;
	padding: 5px 197px;
	font-size: 13px;
	line-height: 26px;
}
.footer_right {
	border-top: 1px solid #807e7ee6;
	padding-top: 20px;
}
.footer_right p span {
	color: #EA5B40;
}
/* End Footer Area Css */



/* ===================== Symptomps Page ===============================*/
.disease_area {
	background-image: url("../images/s_bg.png");
	background-size: cover;
	background-attachment: fixed;
}
.disease_part{}
.disease_button{}
.disease_button h2 {
	font-size: 20px;
	position: relative;
	margin-bottom: 43px;
}
.disease_button h2::before {
	position: absolute;
	content: '';
	top: 12px;
	left: 138px;
	width: 51px;
	height: 2px;
	background-color: #000;
}
.disease_button a {
	font-size: 14px;
}
.disease_content{}
.disease_details {
	margin-top: 67px;
	text-align: center;
}
.disease_details.what_is{}
.what_is h5,.causes h5,.symptoms h5,.how_common h5,.treatment h5 {
	font-size: 21px;
	text-transform: capitalize;
}
.what_is p,.causes p,.symptoms p,.how_common p,.treatment p {
	text-align: left;
	line-height: 27px;
	font-size: 14px;
	text-align: justify;
	color: #373737;
}
.causes{}
.causes h5{}
.causes p{}
.symptoms{}
.symptoms h5{}
.symptoms p{}
.symptoms ol,.treatment ol {
	margin-top: 12px;
	text-align: left;
}
.symptoms ol li,.treatment ol li {
	padding: 7px 0px;
}
.how_common{}
.how_common h5{}
.how_common p{}
.treatment{}
.treatment h5{}
.treatment p{}
.treatment ol{}
.treatment li{}

/*-----------------------------------------
 .admin panel css
 ------------------------------------------*/
.admin-header{
	background-color:#fff;
	padding:10px 0px;
	border-bottom:1px solid #26A69A;
}
.admin-area{
	background-color:#f5f5f5;
}
.admin-logo a {
	padding: 0px 10px;
}
.admin-info {
	padding: 0px 34px 0px 0px;
}
.admin-info h3 {
	margin-left: 8px;
	display: inline-block;
	font-size: 15px;
}
.admin-info i {
	color: #ddd;
	background-color: #696969;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 10px;
}
.admin-area .col-lg-2{
	padding-left:0px;
}
.admin-sidebar {
	border-top:2px solid #ebebeb;
	background-color: #222D32;
	height: 91vh;
}
.admin-sidebar ul{}
.admin-sidebar ul li:first-child{
	font-weight:800;
	background-color: #26A69A;
}
.admin-sidebar ul li {
	padding: 14px 25px;
	color: #ebebeb;
	font-size: 14px;
	border-bottom: 1px solid #ebebeb;
	transition:.5s;
}
.admin-sidebar ul li a{
	color: #ebebeb;
	font-weight:800;
}
.admin-sidebar ul li:hover{
	background-color: #26A69A;
	border-bottom: 1px solid #26A69A;
}
.admin-content {
	width: 100%;
	background-color: #fff;
	margin: 20px;
	padding: 20px;
	border-top:1px solid #26A69A;
}


